/* Search Bar */
.search-container {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
}

.search-input {
  width: 100%;
  padding: 14px 16px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 15px;
  outline: none;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-input::placeholder {
  color: #fff;
}

.search-results {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background: rgba(30, 30, 30, 0.98);
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  backdrop-filter: blur(10px);
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.search-result-item {
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-result-item:last-child {
  border-radius: 0 0 10px 10px;
}

.search-result-item:first-child {
  border-radius: 10px 10px 0 0;
}

.search-result-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.search-result-name {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result-description {
  color: #a7a7a7;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
