name: Build Electron Forge App

on:
  workflow_dispatch:

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build and package app with Electron Forge
        run: |
          npm run make

      - name: Upload build artifacts
        if: runner.os != 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-build
          path: out/make

      - name: Upload Windows installer
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: Windows-installer
          path: out/make/squirrel.windows/x64/**
          if-no-files-found: error

      - name: Upload Windows portable executables
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: Windows-portable
          path: |
            out/*win32-x64/**
          if-no-files-found: error
